.images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px; 
}

.img {
  max-width: 100%;
}



.button {
  border: 0;
  background-color: #f33;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.page {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  min-width: 48px;
  margin: 2px;
}

.active {
  background-color: #33f;
}