.images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
}

.imagesInner {
  position: relative;
}

.removeButton {
  position: absolute;
  top: 20px;
  left: 20px;
}

.img {
  max-width: 100%;
}
